<div class="modal contact-modal" data-active="on" style="display: block;">

  <div class="full-size pos-a-t-l">
    <div class="ledge ledge-minus-16-deg"></div>
  </div>

  <div class="contact-modal-content">
    <h4 class="no-line">Contact us</h4>
    <a href="mailto:gazifie@yahoo.fr" class="email"><span>gazifie@yahoo.fr</span></a>
  </div>

  <div class="contact-social">
    <h3>Social</h3>
    <ul class="profile-social-links">
      <li>
        <a target="_blank" href="https://www.facebook.com/ghazi.boubaker.20">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/ghazi.lens/">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/ghazi-boubaker-349283166/">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>

  </div>
  <a (click)="back()" routerLinkActive="router-link-active" class="close js-close-contact">
    <span></span><span></span>
  </a>

</div>