.header-pic-top{
  background-image: url('/assets/images/work/photos/IMG_6966f.webp');
  background-position: center 45%;
}

.header-pic{
  background-image: url('/assets/images/work/photos/IMG_6966f.webp');
  background-position: center 45%;
}

.zone1 h1 {
  background-image: linear-gradient(0deg, #eea039 0%, #cceeff 80%);
}

.second-title {
  background-image: linear-gradient(120deg, #d68c47 0%, blanchedalmond 100%);
}
