<div class="container">

    <div class="top-control-container">
        <a [routerLink]="['/photos']" class="project-back corner-project-back lone-arrow">
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="text">Back to Projects</span>
        </a>
    </div>

    <div class="zoom-btn">
        <div id="zoomBtn" (click)="zoomOnClick($event)">
            <i *ngIf="!isZoom" class="fa fa-search-plus"></i> <i *ngIf="isZoom" class="fa fa-search-minus"></i>
            <span>{{ isZoom? 'Zoom out':'Zoom in'}}</span>
        </div>
    </div>

    <div id="section1" class="section1">
        <img-comparison-slider [value]="50" class="slider-with-animated-handle slider-focus slider-with-shadows"
            [ngClass]="{zoom: isZoom}">
            <figure slot="first" class="before">
                <img height="100%" src="/assets/images/work/photos/IMG_8831.jpg">
                <figcaption>Before</figcaption>
            </figure>
            <figure slot="second" class="after">
                <img height="100%" src="/assets/images/work/photos/IMG_8831f.jpg">
                <figcaption>After</figcaption>
            </figure>

            <svg slot="handle" value="20" class="custom-animated-handle" width="100" viewBox="-8 -3 16 6">
                <path d="M -5 -2 L -7 0 L -5 2 M 5 -2 L 7 0 L 5 2" fill="none" stroke="#fff" stroke-width="1"
                    vector-effect="non-scaling-stroke"></path>
            </svg>
        </img-comparison-slider>

        <div class="zone1">
            <h1>Night silhouette</h1>

            <p>
                <span class="second-title">Back story:</span> <br>
                I took this shot back in 2020 for my Fiancée during the blue hour, at Yadis beach, Djerba. <br>
                Below are some of the settings for Geeks:
            </p>

            <div class="specs-table">
                <span>ISO:</span> <span>1600</span>
                <span>Focal ratio:</span> <span>F/1.8</span>
                <span>shutter speed:</span> <span>1/50</span>
                <span>Focal length:</span> <span>50mm</span>
            </div>
        </div>
        <div class="arrow-down">
            <a href="/project-silhouette#section2" class="scroll-down-arrow-wrap">
                <div class="scroll-arrow">
                    <span></span><span></span>
                </div>
            </a>
        </div>
    </div>
    <div class="shadow-box-separator"></div>

    <div class="header-pic"></div>

    <div id="section2" class="section2">
        <p>This work represent the beauty of shooting raw and the expansibility offered of coloring and editing
            potential</p>
        <h3>Details you might have missed</h3>
        <div class="grid-2">
            <img-comparison-slider [value]="50" class="slider-with-animated-handle slider-focus slider-with-shadows small-preview"
                [ngClass]="{zoom: isZoom}">
                <figure slot="first" class="before">
                    <img height="100" src="/assets/images/work/photos/details/IMG_8831-s1.jpg">
                </figure>
                <figure slot="second" class="after">
                    <img height="100" src="/assets/images/work/photos/details/IMG_8831-s1f.jpg">
                </figure>

                <svg slot="handle" value="20" class="custom-animated-handle" width="100" viewBox="-8 -3 16 6">
                    <path d="M -5 -2 L -7 0 L -5 2 M 5 -2 L 7 0 L 5 2" fill="none" stroke="#fff" stroke-width="1"
                        vector-effect="non-scaling-stroke"></path>
                </svg>
            </img-comparison-slider>
            <p>
                Beside the obvious, wish is the color correction, some touch-ups went into this work. This was shot
                after a
                swim at the beach, so naturally hair is usually a challenge to be on point for photoshoots.
            </p>

        </div>

    </div>


</div>