<div class="container">
    <div class="top-control-container">
        <a [routerLink]="['/coding']" class="project-back corner-project-back lone-arrow">
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="text">Back to Projects</span>
        </a>
    </div>


    <div class="section1">
        <div class="project-specs">
            <div>
                <p class="specs-title">YEAR:</p>
                <p class="specs-p">2021</p>
            </div>

            <div>
                <p class="specs-title">DELIVERABLES:</p>
                <p class="specs-p">UX</p><br>
                <p class="specs-p">Visual Design</p><br>
                <p class="specs-p">Creative Direction</p><br>
            </div>

        </div>

        <div class="project-description">
            <p class="desc-title">The place I can show you my skills</p>
            <p class="specs-p">This website is a personal project, made as a place to practice some ideas, showcase my
                work, and serve as my portfolio.</p>
        </div>
    </div>

    <p class="mokup">
        <img loading="lazy" src="/assets/images/work/coding/laptop-mokup.webp">
    </p>

    <div id="section2" class="section2">

        <p class="desc-title">Technologies used</p>

        <p class="logos">
            <img loading="lazy" src="/assets/images/work/coding/angular-logo.png">
            <img loading="lazy" src="/assets/images/work/coding/sass-logo.webp">
            <img loading="lazy" src="/assets/images/work/coding/TS-logo.png">
            <img loading="lazy" src="/assets/images/work/coding/firebase.webp">
            <img loading="lazy" src="/assets/images/work/coding/git-logo.webp">
            <img loading="lazy" src="/assets/images/work/coding/PS-logo.webp">
        </p>

    </div>

    <div class="section2">
        <p class="desc-title">Fonts used</p>

        <div class="font">
            <p class="league-spartan-font grid-2-text">
                <span class="font-title">league spartan</span>
                <span class="font-desc">
                    <span *ngFor="let letter of upperLetters"> {{letter}} </span> <br>
                    <span *ngFor="let letter of upperLetters"> {{letter|lowercase}} </span> <br>
                    <span *ngFor="let num of numbers"> {{num}} </span>
                </span>
            </p>
            <p class="Ginger-Regular-font grid-2-text">
                <span class="font-title">Ginger Regular</span>
                <span>
                    <span *ngFor="let letter of upperLetters"> {{letter}} </span> <br>
                    <span *ngFor="let letter of upperLetters"> {{letter|lowercase}} </span> <br>
                    <span *ngFor="let num of numbers"> {{num}} </span>
                </span>
            </p>
            <p class="Roboto-font grid-2-text">
                <span class="font-title">Roboto</span>
                <span>
                    <span *ngFor="let letter of upperLetters"> {{letter}} </span> <br>
                    <span *ngFor="let letter of upperLetters"> {{letter|lowercase}} </span> <br>
                    <span *ngFor="let num of numbers"> {{num}} </span>
                </span>
            </p>
        </div>
    </div>

    <div class="section2">
        <p class="desc-title">Details you might have missed</p>

        <p class="grid-1">
            The image flips over as you hover over it, revealing a statue that represents the creative and artistic
            side.
        </p>
        <p class="img-preview">
            <img loading="lazy" src="/assets/images/work/coding/laptop-mokup2.webp">
        </p>

        <p class="grid-1">
            The color of the icons and the backdrop change depending on the background of the page.
        </p>
        <p class="img-preview">
            <img loading="lazy" src="/assets/images/work/coding/laptop-mokup2.webp">
        </p>
    </div>


</div>