<div class="container">
    <div class="top-control-container">
        <a [routerLink]="['/coding']" class="project-back corner-project-back lone-arrow">
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="text">Back to Projects</span>
        </a>
    </div>


    <div class="header-pic-top">
        <span class="header-pic-text">ma Régie</span>
    </div>

    <div id="section2" class="section2">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est distinctio eius enim quidem itaque, doloremque,
            nulla, commodi voluptate harum impedit at repellendus modi! Vitae earum odit incidunt ipsa, voluptatum
            quibusdam!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est distinctio eius enim quidem itaque, doloremque,
            nulla, commodi voluptate harum impedit at repellendus modi! Vitae earum odit incidunt ipsa, voluptatum
            quibusdam!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est distinctio eius enim quidem itaque, doloremque,
            nulla, commodi voluptate harum impedit at repellendus modi! Vitae earum odit incidunt ipsa, voluptatum
            quibusdam!</p>
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est distinctio eius enim quidem itaque, doloremque,
            nulla, commodi voluptate harum impedit at repellendus modi! Vitae earum odit incidunt ipsa, voluptatum
            quibusdam!</p>

        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aut velit? Consectetur totam atque esse
            necessitatibus id, porro corporis expedita distinctio, tempora ipsa dolorum? Et blanditiis corporis
            laboriosam saepe accusantium.
            Nulla repudiandae sint voluptates dolores tempore nam eligendi, non quod aut, deleniti pariatur explicabo,
            maxime eveniet aperiam! Commodi nemo nesciunt tempore omnis facilis eveniet velit! Iure ea nam at. Velit.
            Repellat nisi mollitia, cum dolorum, corporis magnam doloremque voluptatem itaque delectus distinctio quam
            maxime neque consequatur dolor non asperiores iure? Voluptas magnam, corrupti iste excepturi fugiat
            inventore suscipit reprehenderit nulla?
            Iste illo aut cumque quis impedit, officiis consectetur asperiores cupiditate nesciunt nihil quidem facere
            quasi maiores sed modi veritatis debitis quam fuga architecto qui porro, ullam ad excepturi provident.
            Dignissimos.
            Perferendis debitis ex, assumenda tempore adipisci ipsam dolorum mollitia soluta nostrum. Adipisci, eum
            eius. Tempora ducimus eius dolorem qui voluptas veritatis a, et, molestias facere quaerat sunt natus
            voluptatum sed?</p>
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aut velit? Consectetur totam atque esse
            necessitatibus id, porro corporis expedita distinctio, tempora ipsa dolorum? Et blanditiis corporis
            laboriosam saepe accusantium.
            Nulla repudiandae sint voluptates dolores tempore nam eligendi, non quod aut, deleniti pariatur explicabo,
            maxime eveniet aperiam! Commodi nemo nesciunt tempore omnis facilis eveniet velit! Iure ea nam at. Velit.
            Repellat nisi mollitia, cum dolorum, corporis magnam doloremque voluptatem itaque delectus distinctio quam
            maxime neque consequatur dolor non asperiores iure? Voluptas magnam, corrupti iste excepturi fugiat
            inventore suscipit reprehenderit nulla?
            Iste illo aut cumque quis impedit, officiis consectetur asperiores cupiditate nesciunt nihil quidem facere
            quasi maiores sed modi veritatis debitis quam fuga architecto qui porro, ullam ad excepturi provident.
            Dignissimos.
            Perferendis debitis ex, assumenda tempore adipisci ipsam dolorum mollitia soluta nostrum. Adipisci, eum
            eius. Tempora ducimus eius dolorem qui voluptas veritatis a, et, molestias facere quaerat sunt natus
            voluptatum sed?</p>
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aut velit? Consectetur totam atque esse
            necessitatibus id, porro corporis expedita distinctio, tempora ipsa dolorum? Et blanditiis corporis
            laboriosam saepe accusantium.
            Nulla repudiandae sint voluptates dolores tempore nam eligendi, non quod aut, deleniti pariatur explicabo,
            maxime eveniet aperiam! Commodi nemo nesciunt tempore omnis facilis eveniet velit! Iure ea nam at. Velit.
            Repellat nisi mollitia, cum dolorum, corporis magnam doloremque voluptatem itaque delectus distinctio quam
            maxime neque consequatur dolor non asperiores iure? Voluptas magnam, corrupti iste excepturi fugiat
            inventore suscipit reprehenderit nulla?
            Iste illo aut cumque quis impedit, officiis consectetur asperiores cupiditate nesciunt nihil quidem facere
            quasi maiores sed modi veritatis debitis quam fuga architecto qui porro, ullam ad excepturi provident.
            Dignissimos.
            Perferendis debitis ex, assumenda tempore adipisci ipsam dolorum mollitia soluta nostrum. Adipisci, eum
            eius. Tempora ducimus eius dolorem qui voluptas veritatis a, et, molestias facere quaerat sunt natus
            voluptatum sed?</p>
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aut velit? Consectetur totam atque esse
            necessitatibus id, porro corporis expedita distinctio, tempora ipsa dolorum? Et blanditiis corporis
            laboriosam saepe accusantium.
            Nulla repudiandae sint voluptates dolores tempore nam eligendi, non quod aut, deleniti pariatur explicabo,
            maxime eveniet aperiam! Commodi nemo nesciunt tempore omnis facilis eveniet velit! Iure ea nam at. Velit.
            Repellat nisi mollitia, cum dolorum, corporis magnam doloremque voluptatem itaque delectus distinctio quam
            maxime neque consequatur dolor non asperiores iure? Voluptas magnam, corrupti iste excepturi fugiat
            inventore suscipit reprehenderit nulla?
            Iste illo aut cumque quis impedit, officiis consectetur asperiores cupiditate nesciunt nihil quidem facere
            quasi maiores sed modi veritatis debitis quam fuga architecto qui porro, ullam ad excepturi provident.
            Dignissimos.
            Perferendis debitis ex, assumenda tempore adipisci ipsam dolorum mollitia soluta nostrum. Adipisci, eum
            eius. Tempora ducimus eius dolorem qui voluptas veritatis a, et, molestias facere quaerat sunt natus
            voluptatum sed?</p>
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aut velit? Consectetur totam atque esse
            necessitatibus id, porro corporis expedita distinctio, tempora ipsa dolorum? Et blanditiis corporis
            laboriosam saepe accusantium.
            Nulla repudiandae sint voluptates dolores tempore nam eligendi, non quod aut, deleniti pariatur explicabo,
            maxime eveniet aperiam! Commodi nemo nesciunt tempore omnis facilis eveniet velit! Iure ea nam at. Velit.
            Repellat nisi mollitia, cum dolorum, corporis magnam doloremque voluptatem itaque delectus distinctio quam
            maxime neque consequatur dolor non asperiores iure? Voluptas magnam, corrupti iste excepturi fugiat
            inventore suscipit reprehenderit nulla?
            Iste illo aut cumque quis impedit, officiis consectetur asperiores cupiditate nesciunt nihil quidem facere
            quasi maiores sed modi veritatis debitis quam fuga architecto qui porro, ullam ad excepturi provident.
            Dignissimos.
            Perferendis debitis ex, assumenda tempore adipisci ipsam dolorum mollitia soluta nostrum. Adipisci, eum
            eius. Tempora ducimus eius dolorem qui voluptas veritatis a, et, molestias facere quaerat sunt natus
            voluptatum sed?</p>
        <br><br>

    </div>



</div>