.top-control-container {
    display: block;
    position: absolute;
    float: right;
    right: 0;
    top: 60px;
    z-index: 90;
    @media screen and (max-width:700px) {
        top: 50px;
    }
}

.container{
    display: block;
    justify-items: center;
    //background-color: #333333;
    color: white;
    margin: 0;
    padding: 30px 0 0 0;
    //height: calc(100vh - 100px) ;
}

.header-pic-top{
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 50%;
    padding-top: 100px;
    margin-top: -55px;
    margin-bottom: -4px; //to fix shadowbar issue
  }

.header-pic-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    margin-top: -30px;
    transform: translate(-50%, -50%);
    color: bisque;
    font-size: 10rem;
    text-align: center;
    mix-blend-mode: overlay;
    filter: drop-shadow(0 0 15px rgba(black,.5));
    text-align: baseline;
    //white-space: nowrap;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    @media screen and (max-width: 900px) {
        //white-space: normal;
    }
    @media screen and (max-width: 700px) {
        font-size: clamp(6.5rem,27vw,10rem);
    }
}


.header-pic{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 50%;
    padding-top: 100px;
    margin-top: -50px;
  }


.shadow-box-separator{
    height: 50px;
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(51,51,51,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(51,51,51,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#333333",GradientType=1);
    mix-blend-mode: overlay;
}
  
  .section1 {
      display: grid;
      position: relative;
      min-height: 100vh;
      margin: 0 30px -30px 30px;
      grid-template-columns: max-content auto;
      grid-gap: 30px;
      color: white;
      justify-items: center;
      //filter: drop-shadow(0 5px 5px black);
      box-sizing: border-box;
      z-index: 10;
  
  }
  
  p {
    display: inline-block;    
    font-family: Roboto;
    font-weight: 200;
    font-size: 1.25rem;
  }
  
  .zone1 {
      display: inline-block;
      justify-content: center;
      width: 90%;
      margin-left: 20px;
      //flex-direction: column;
      & h1 {
          text-align: center;
          color: transparent;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(0deg, #8fd3f4  0%, #8fa3f4 40% , #cb2bb1 100%);
          //background-image: url('/assets/images/work/photos/IMG_8831f.jpg');
          background-repeat: no-repeat;
          background-clip: text;
          -webkit-background-clip: text;
          background-size: 100%;
          font-family: Abilane;
          font-size: 3rem;
          filter: drop-shadow(0px 0px 5px rgba(black, .5));
  
      }
      & p {
          text-align: left;
          justify-items: center;
          line-height: 1.7rem;
      }
  }
  
  .second-title {
      display: inline-block;
      cursor: default;
      color: white;
      font-size: 1.15em;
      margin-bottom: .5rem;
      background-image: linear-gradient(120deg, #a58ff4 0%, blanchedalmond 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.1em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in, color .25s ease-in, font-size .25s ease-in;
      transform-origin: bottom;
      filter: drop-shadow(0px 0px 5px rgba(black, .7));
      &:hover {
          background-size: 100% 100%;
          font-size: 1.2em;
          color: black;
      }
  }
  
  
  
  .specs-table{
      display: block;
      position: absolute;
      left: auto;
      bottom: 15%;
      font-size: 1rem;
      font-weight: 200;
      font-family: 'Courier New', Courier, monospace;
      grid-template-columns: repeat(2, 1fr);
      width: auto;
      & span {
          display: inline-flex;
          width: 40%;
          margin: 1.5rem .5rem;
      }
  }
    
  .section2 {
      box-sizing: border-box;
      z-index: 9;
      display: block;
      padding: 60px 30px 0 30px;
      background-color: rgb(255, 245, 230);
      height: auto;
      width: auto;
      color: black;
  }
    
  .arrow-down:first-child {
      z-index: 10;
      margin-top: 60px;
      transform: scale(1.9);
      transform-origin: 0;
      filter: drop-shadow(0 5px 0px rgba(white, .5));
      display: block;
      position: relative;
      width: 50px;
      height: auto;
      text-align: center;
      //outline: solid 1px yellow;
      left: 50%;
  }
  
  .arrow-down {
      display: block;
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 2rem;
      margin-top: -30px;
      //outline: solid 1px yellow;
      grid-column: 1/3;
  }
    
  @media screen and (max-width: 1000px) {
      .container {
        margin: 30px 0 0 0 ;
      }
      .section1 {
        grid-template-columns: auto;
        margin: 0;
      }
      .zone1{
        margin: 0;
        width: auto;
      }
      p {
        margin: 0 .5rem;
        font-size: clamp(1rem, 2vw, 1.7rem);
      }
      .specs-table {
          position: relative;
          bottom: 0;
          font-size: clamp(.9rem, 2vw, 1rem);
      }
      .arrow-down {
          grid-column: auto;
      }
    }

    /////////// UI ELEMENTS STYLE /////////////


    //back btn-------
  .corner-project-back {
    position: absolute;
    float: right;
    right: 3vw;
    margin: 0.5rem 0;
    z-index: 4;
  }

  $backBtnColor: white;
    html.safari-browser .corner-project-back span.text {
      color: $backBtnColor !important;
    }

    .project-back span {
      color: $backBtnColor;
    }
  
    .project-back .arrow-tip {
      border-right: 3px solid $backBtnColor;
    }
  
    .project-back .arrow-length {
      background-color: $backBtnColor;
    }
  
    .project-back.project-footer-next-project span,
    .project-back.project-footer-prev-project span {
        color: $backBtnColor;
    }
  
    .project-back.project-footer-next-project .arrow-tip,
    .project-back.project-footer-prev-project .arrow-tip {
      border-right: 3px solid #fff;
    }
  
    .project-back.project-footer-next-project .arrow-length,
    .project-back.project-footer-prev-project .arrow-length {
      background-color: #fff;
    }
  
    html.safari-browser .corner-project-back span.text {
      color: #212121 !important;
    }

  .lone-arrow {
    width: 18px;
    height: 20px; 
  }
  .lone-arrow span.arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .lone-arrow .arrow-length {
    position: absolute;
    left: 0;
    top: 50%;
    left: 16%;
    width: 80%;
    height: 2px;
    background-color: #fff;
  }
  .lone-arrow .arrow-tip {
    position: absolute;
    left: 0;
    top: 50%;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid #fff;
    margin-top: -2px; 
  }
  .lone-arrow span.arrow span {
    -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
    -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
    transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1); 
  }
  .lone-arrow span.arrow:nth-child(2) span {
    -webkit-transform: translateX(22px);
    -moz-transform: translateX(22px);
    -ms-transform: translateX(22px);
    -o-transform: translateX(22px);
    transform: translateX(22px); 
  }
  .lone-arrow span.text {
    right: 200%;
    top: 50%;
    position: absolute;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-transform: translateX(0px) translateY(-50%);
    -moz-transform: translateX(0px) translateY(-50%);
    -ms-transform: translateX(0px) translateY(-50%);
    -o-transform: translateX(0px) translateY(-50%);
    transform: translateX(0px) translateY(-50%); 
  }
  .lone-arrow:hover span.arrow:nth-child(1) span {
    -webkit-transform: translateX(-22px);
    -moz-transform: translateX(-22px);
    -ms-transform: translateX(-22px);
    -o-transform: translateX(-22px);
    transform: translateX(-22px); 
  }
  .lone-arrow:hover span.arrow:nth-child(2) span {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition-delay: 0.16s;
    -moz-transition-delay: 0.16s;
    transition-delay: 0.16s;
  }


  // After-Before slider -------
  img-comparison-slider {
    position: relative;
    display: block;
    max-height: max-content;
    height: max-content;
    width: max-content;
    cursor: col-resize;
    max-width: 90vw;
    border-radius: 10px;
    margin: 1rem 0;
    & figure img {
      max-height: 80vh;
      height: auto;
      max-width: 90vw;
      min-width: 100%;
    }
  }
  
  .slider-with-shadows {
    --default-handle-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    --divider-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .zoom figure img {
    max-height: max-content;
    height: max-content;
  }
  
  .custom-animated-handle {
      color: white;
      font-size: larger;
      font-weight: 200;
      transition: transform 0.2s;
      width: 50px;
    }
  
  .slider-with-animated-handle:hover .custom-animated-handle {
      transform: scale(1.3);
  }
  
  .slider-focus:focus {
      outline: none;
      box-shadow: 0px 0px 15px 0px #0000006a;
      scroll-behavior: smooth !important; //doesn't work yet, still snaps when focused
    }
  
    .before,
    .after {
      margin: 0;
    }
  
    .before figcaption,
    .after figcaption {
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid #c0c0c0;
      border-radius: 12px;
      color: #2e3452;
      opacity: 0.5;
      padding: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      line-height: 100%;
    }
  
    .before figcaption {
      transform: scale(.7);
      left: 12px;
    }
  
    .after figcaption {
      transform: scale(.7);
      right: 12px;
    }

    // Zoom btn -------
    .zoom-btn{
      display: flex;
      position: relative;
      cursor: pointer;
      top: 0px;
      left: 30px;
      font-size: 12px;
      z-index: 30;
      text-align: center;
      white-space: normal;
      width: fit-content;
      filter: drop-shadow(0 0 1px black);
      & span {
        display: flex;
        text-align: center;
        position: absolute;
        top: -5px;
        left: -10px;
        justify-items: center;
        align-items: center;  
        opacity: 0;
        transition: opacity 0.2s;
        height: 40px;
        width: 40px;
      }
      & i {
        font-size: 1.5rem;
        transition: color 0.2s;
        transform: scale(1);
        transition: transform 0.2s;
      }
      &:hover {
        i {
          cursor: pointer;
          opacity: 0.3;
          color: yellow;
          transform: scale(1.5);
        }
        span {
          opacity: 1;
        }
      }
    }
  
    @media screen and (max-width: 530px) { //zoom doesn't function on width less than than this anyway, and phones have pinch to zoom
      .zoom-btn {
        opacity: 0;
        pointer-events: none;
      }
    }
    
    .container h3 {
      text-align: center;
      font-weight: 500;
    }

    //---- end zoom btn

    // --- scroll down btn --------------
  .scroll-down-arrow-wrap {
    opacity: 1;
    display: block;
    position: absolute;
    //background-color: red;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    -webkit-transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
    -moz-transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
    transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 50px;
    height: 40px;
    margin: -20px 0 0 -25px;
  }

  .scroll-down-arrow-wrap:hover span::before, .scroll-down-arrow-wrap:hover span::after {
    background-color: yellow;
}

  .scroll-down-arrow-wrap .scroll-arrow {
    position: relative; 
  }
  .scroll-down-arrow-wrap .scroll-arrow span {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    animation: none !important; 
  }

    .scroll-arrow-wrap:hover, .scroll-down-arrow-wrap:hover {
        cursor: pointer; 
    }
    
        .scroll-arrow-wrap:hover span::before, .scroll-down-arrow-wrap:hover span::before {
          -webkit-transform: skewY(32deg);
          -moz-transform: skewY(32deg);
          -ms-transform: skewY(32deg);
          -o-transform: skewY(32deg);
          transform: skewY(32deg); 
        }
        .scroll-arrow-wrap:hover span::after, .scroll-down-arrow-wrap:hover span::after {
          -webkit-transform: skewY(-32deg);
          -moz-transform: skewY(-32deg);
          -ms-transform: skewY(-32deg);
          -o-transform: skewY(-32deg);
          transform: skewY(-32deg); 
        }

          .scroll-arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            width: 20px;
            height: 2px;
            margin: -1px 0 0 -10px; 
        }
            .scroll-arrow span {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-animation: arrowpointing forwards infinite 3s cubic-bezier(0.52, 0.01, 0.16, 1);
              -moz-animation: arrowpointing forwards infinite 3s cubic-bezier(0.52, 0.01, 0.16, 1);
              animation: arrowpointing forwards infinite 3s cubic-bezier(0.52, 0.01, 0.16, 1); 
            }
              @media only screen and (max-width: 800px) {
                .scroll-arrow span {
                  -webkit-animation: none !important;
                  -moz-animation: none !important;
                  animation: none !important; } 
                }
              .scroll-arrow span::before, .scroll-arrow span::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                width: 50%;
                background-color: #fff;
                -webkit-transform: skewY(22deg);
                -moz-transform: skewY(22deg);
                -ms-transform: skewY(22deg);
                -o-transform: skewY(22deg);
                transform: skewY(22deg);
                -webkit-transform-origin: 50% 100%;
                -moz-transform-origin: 50% 100%;
                -ms-transform-origin: 50% 100%;
                -o-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transition: 0.36s cubic-bezier(0.7, 0.3, 0, 1);
                -moz-transition: 0.36s cubic-bezier(0.7, 0.3, 0, 1);
                transition: 0.36s cubic-bezier(0.7, 0.3, 0, 1); 
            }
              .scroll-arrow span:nth-child(2) {
                -webkit-animation-delay: 1.5s;
                -moz-animation-delay: 1.5s;
                animation-delay: 1.5s; 
            }
              .scroll-arrow span::before {
                left: 0; }
              .scroll-arrow span::after {
                left: 50%;
                -webkit-transform: skewY(-22deg);
                -moz-transform: skewY(-22deg);
                -ms-transform: skewY(-22deg);
                -o-transform: skewY(-22deg);
                transform: skewY(-22deg); 
            }

            // -------- end scroll down btn---------