<div class="grid">
  <a [routerLink]="['/photos']">
    <figure id="pictures">
      <figcaption>
        <h4> <span>Phtography</span></h4>
        <p>
          <q>What I like about photographs is that they capture a moment that’s gone forever, impossible to
            reproduce.</q>
            <br>
          <span>― Karl Lagerfeld</span>
        </p>
      </figcaption>
    </figure>
  </a>

  <a [routerLink]="['/videos']">
    <figure id="videos">
      <figcaption>
        <h4> <span>Videography</span></h4>
        <p>
          <q>If it can be written, or thought, it can be filmed.</q>
          <br>
          <span>― Stanley Kubrick</span>
        </p>
      </figcaption>
    </figure>
  </a>

  <a [routerLink]="['/coding']">
    <figure id="code">
      <figcaption>
        <h4> <span>Coding</span></h4>
        <p>
          <q>You might not think that programmers are artists, but programming is an extremely creative profession. It's logic-based creativity.</q>
          <br>
          <span>― John Romero</span>
        </p>
      </figcaption>
    </figure>
  </a>

  <a [routerLink]="['/it']">
    <figure id="it">
      <figcaption>
        <h4> <span>IT</span></h4>
        <p>
          <q>The only constant in the technology industry is change.</q>
          <br>
          <span>― John Romero</span>
        </p>
      </figcaption>
    </figure>
  </a>
</div>

<!--
    <a href="#">
        <figure>
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <h4> <span>The arsonist had oddly shaped feet</span></h4>
            <p>The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and that's the vortex of the heart.</p>
          </figcaption>
        </figure>
    </a>
<div class="grid">
    <div class="card">
        <img src="../assets/images/camera-lens-crop476.jpg" alt="camera-lens-crop476">
        <p>Picture</p>
    </div>
    <div class="card">
        <img src="../assets/images/pic_portfolio-720.png" alt="portfolio-720">
        <p>Video</p>
    </div>
    <div class="card">
        <img src="../assets/images/pic_portfolio-720.png" alt="portfolio-720">
        <p>Code</p>
    </div>
    <div class="card">
        <img src="../assets/images/pic_portfolio-720.png" alt="portfolio-720">
        <p>AudioVisual</p>
    </div>
</div>
-->