.header-pic-top{
  background-image: url('/assets/images/work/photos/IMG_8879f.jpg');
}

.header-pic{
  background-image: url('/assets/images/work/photos/IMG_8879f.jpg');
  background-position: center 57%;
}

.zone1 h1 {
    background-image: linear-gradient(0deg, #beb83e 0%, #eea039 40% , rgb(138, 36, 36) 100%);
}

.second-title {
    background-image: linear-gradient(120deg, #d68c47 0%, blanchedalmond 100%);
}

