<div class="container">

    <div class="top-control-container">
        <a [routerLink]="['/work']" class="project-back corner-project-back lone-arrow">
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="text">Back to work</span>
        </a>
    </div>

    <span class="quote">I'd say, being a photographer is like being a ninja: <span>If people can <span class="fw-3" style="color: orange;">spot</span> <wbr> your work <wbr>you <span class="fw-3" style="color: red;">fail </span> </span>. <br>
        With that being said, I'd like to showcase some of the photos I took or retouched, and feel free to discover
        what went behind every pictures.</span>

    <div class="image-container">
        <a id="project-silhouette" [routerLink]="['/project-silhouette']" routerLinkActive="router-link-active" class="img-wrap">
            <img loading="lazy" src="/assets/images/work/photos/IMG_8831f.webp">
        </a>

        <a id="project-turkish-lights" [routerLink]="['/project-turkish-lights']" routerLinkActive="router-link-active" class="img-wrap">
            <img loading="lazy" src="/assets/images/work/photos/IMG_8879f.webp">
        </a>

        <a id="project-sky-lanterns" [routerLink]="['/project-sky-lanterns']" routerLinkActive="router-link-active" class="img-wrap">
            <img loading="lazy" src="/assets/images/work/photos/IMG_0982ff.webp">
        </a>

        <a id="project-thinker-portrait" [routerLink]="['/project-thinker-portrait']" routerLinkActive="router-link-active" class="img-wrap">
            <img loading="lazy" src="/assets/images/work/photos/IMG_7791f.webp">
        </a>

        <a id="project-blank-stare-portrait" [routerLink]="['/project-blank-stare-portrait']" routerLinkActive="router-link-active" class="img-wrap">
            <img loading="lazy" src="/assets/images/work/photos/_MG_9955f.webp">
        </a>

        <a id="project-front-portrait" [routerLink]="['/project-front-portrait']" routerLinkActive="router-link-active" class="img-wrap">
            <img loading="lazy" src="/assets/images/work/photos/IMG_6966f.webp">
        </a>

    </div>

</div>