<div class="container">

    <!-- <div class="detail-btn-container">
        <a [routerLink]="['/photo-details']" routerLinkActive="router-link-active"  class="project-back corner-project-back lone-arrow" data-new-state="work">
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="arrow"><span class="arrow-tip"></span><span class="arrow-length"></span></span>
            <span class="text">See details</span>
        </a>
    </div> -->

    <q>I'd say, being a photographer is like being a ninja: <span>If people can <span style="color: orange;">spot</span> your work you <span style="color: red;">fail</span> .</span> <br>
        With that being said, I'd like to showcase some of the photos I took or retouched, and feel free to discover
        what went behind every pictures.</q>

    <div class="image-container">
        <a id="project-silhouette" [routerLink]="['/project-silhouette']" routerLinkActive="router-link-active" class="img-wrap">
            <img src="/assets/images/work/photos/IMG_8831f.jpg">
        </a>

        <a id="project-turkish-lights" [routerLink]="['/project-turkish-lights']" routerLinkActive="router-link-active" class="img-wrap">
            <img src="/assets/images/work/photos/IMG_8879f.jpg">
        </a>

        <a id="project-sky-lanterns" [routerLink]="['/project-sky-lanterns']" routerLinkActive="router-link-active" class="img-wrap">
            <img src="/assets/images/work/photos/IMG_0982ff.jpg">
        </a>

        <a id="project-thinker-portrait" [routerLink]="['/project-thinker-portrait']" routerLinkActive="router-link-active" class="img-wrap">
            <img src="/assets/images/work/photos/IMG_7791f.jpg">
        </a>

        <a id="project-blank-stare-portrait" [routerLink]="['/project-blank-stare-portrait']" routerLinkActive="router-link-active" class="img-wrap">
            <img src="/assets/images/work/photos/_MG_9955f.jpg">
        </a>

        <a id="project-front-portrait" [routerLink]="['/project-front-portrait']" routerLinkActive="router-link-active" class="img-wrap">
            <img src="/assets/images/work/photos/IMG_6966f.jpg">
        </a>

        <!-- <a [routerLink]="['/photo-details', 'me_vs_Red_Squirre2']" routerLinkActive="router-link-active" class="img-wrap">
            <img src="/assets/images/work/photos/me_vs_Red_Squirre2.jpg">
        </a> -->

    </div>

</div>