.container{
  margin-top: 30px;
    color: white;
    justify-items: center;
    //background-color: #333333;
    text-align: center;
    margin-bottom: 1rem;
}

q {
  font-family: Montserrat-Thin;
  font-weight: 500;
  font-size: clamp(1rem, 1vw, 3rem);

  display: inline-block;
  width: 80%;
  margin: 30px 0;
}

q > span {
background-color: rgb(0, 0, 0);
padding: 1px 3px;
}

.detail-btn-container {
  display: block;
}

.image-container {
  //outline: solid 1px red;
  color: white;
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(3, 25%);
  gap: 20px 20px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 20px 0 20px;
  //justify-items: center;
  justify-content: center;
  // text-align: center;

}

@media screen and (max-width: 950px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px ;
  }
  .img-wrap {
    font-size: 10vw !important;
  }
}
@media screen and (max-width: 750px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px ;
  }
}
@media screen and (max-width: 500px) {
  .image-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 20px ;
  }
  .img-wrap {
    font-size: 22vw !important;
  }
}

.img-wrap {
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  //justify-items: center;
  //align-items: center;
  transition: filter 0.5s cubic-bezier(.25,.8,.25,1), transform 0.5s cubic-bezier(.25,.8,.25,1);
  font-size: 6vw;
  color: white;
  text-decoration: none;
}

.img-wrap:hover {
  filter: drop-shadow(0px 0px 5px rgba(black, .7));
  cursor: pointer;
  transform: scale(1.007);
  & img {
    filter: saturate(130%) sepia(30%);
  } 
}

.img-wrap::after {
  content: 'See details';
  position: absolute;
  bottom: -40%;
  left: 0;
  transform: translateY(0%);
  font-weight: 500;
  width: 101%;
  text-shadow: 0 1px 15px black;
  transition: padding 0.5s cubic-bezier(.25,.8,.25,1), transform 0.2s, color 0.2s;
}

.img-wrap:hover::after{
  padding: 25% 0 10% 0;
  transform: translateY(-60%);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0.5) 56%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0.5) 56%, rgba(0,0,0,0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 20%, rgba(0,0,0,0.5) 56%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.img-wrap:active::after {
  color: orange;
  transform: translateY(-60%) scale(1.05);
  transform-origin: 50% 50%;
  padding: 23% 0 12% 0;
}

img {
  display: block;
  position: relative;
  max-height: fit-content;
  height: auto;
  width: 100%;
  object-fit: cover;
  transition: filter 0.5s;
}