#wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    transition: background-color 600ms;
    
    //background-color: rgb(51, 0, 103);
    //background: rgb(5,41,66);
    //background: linear-gradient(90deg, rgba(5,41,66,1) 19%, rgb(1, 65, 108) 83%, rgb(36, 63, 109) 100%);
}

.container {

}


